<!-- Default form contact -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Crear Cuenta</p>
  
    <!-- Name -->
    <div class="row">
        <div class="col-md-6 mb-3">
            <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Nombre">
        </div>
    
             <!-- LastName -->
             <input type="text" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Apellido">
    </div>
  

    <!-- Country -->
    <input type="text" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Nacionalidad">

    <!-- ID -->
    <input type="text" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Numero de Cedula">
  
    <!-- Subject -->
    <label>Rol</label>
    <select class="browser-default custom-select mb-4">
      <option value="" disabled>Escoger un rol</option>
      <option value="1" selected>Atleta</option>
      <option value="2">Organizador</option>
    </select>
  
    <!-- Username -->
    <input type="text" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Nombre de usuario">

    <!-- Password -->
    <input type="password" id="defaultContactFormEmail" class="form-control mb-4" placeholder="Contraseña">

    <label>Foto</label>
    <input type="file" class="form-control-file" id="image" aria-describedby="fileHelp" placeholder="Foto">

    <label>Fecha de Nacimiento</label>
    <input type="date" class="form-control" id="birth_date" placeholder="" name="birth_date" required>
  
     <!-- Send button -->
    <button mdbBtn color="info" block="true" type="submit">Send</button>

  
  </form>
  <!-- Default form contact -->