<!-- Editable table -->
<div class="card bg">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Gestión de Carrera</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2">
        <a class="text-success" (click)="frame.show()">
          <mdb-icon fas icon="plus" size="2x"></mdb-icon>
        </a>
      </span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Nombre de Carrrera</th>
          <th class="text-center">Fecha</th>
          <th class="text-center">Recorrido .gpx</th>
          <th class="text-center">Tipo de Actividad</th>
          <th class="text-center">Es Privado</th>
          <th class="text-center">Cuentas Bancarias</th>
          <th class="text-center">Categorias</th>
          <th class="text-center">Lista de Patrocinadores</th>
          <th class="text-center">Inscripciones</th>
          <th class="text-center">Eliminar</th>
        </tr>
        <tr *ngFor="let person of personList; let id = index"> <!--ng for de la lista de la base de datos--->
          <td>
            <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{person.name}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.age}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'companyName', $event)" (blur)="updateList(id, 'companyName', $event)">{{person.companyName}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'country', $event)" (blur)="updateList(id, 'country', $event)">{{person.country}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</span>
          </td>
          <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</span>
          </td>
          <td>
              <span contenteditable="true" (keyup)="changeValue(id, 'city', $event)" (blur)="updateList(id, 'city', $event)">{{person.city}}</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="blue" rounded="true" size="sm" class="my-0" (click)="basicModal.show()">Ver lista</button>
            </span>
          </td>  
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="blue" rounded="true" size="sm" class="my-0" (click)="basicModal.show()">Solicitudes</button>
            </span>
          </td>  
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Eliminar</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->


<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Nueva Carrera</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body mx-3">

      <div class="md-form mb-5">
        <mdb-icon fas icon="user" class="prefix grey-text"></mdb-icon>
        <input type="text" id="Racename" class="form-control" mdbInput mdbValidate [formControl]="contactFormModalName">
        <label for="form34">Nombre de la Carrera</label>
        <mdb-error
          *ngIf="contactFormModalName.invalid && (contactFormModalName.dirty || contactFormModalName.touched)">Input
          invalid
        </mdb-error>
        <mdb-success
          *ngIf="contactFormModalName.valid && (contactFormModalName.dirty || contactFormModalName.touched)">Input
          valid
        </mdb-success>
      </div>

      <div class="md-form mb-5">
        <mdb-icon fas icon="calendar-alt" class="prefix grey-text"></mdb-icon>
        <input type="date" id="dateRace" class="form-control" mdbInput mdbValidate [formControl]="contactFormModalDate">
        <label for="form29">Fecha de Carrera</label>
        <mdb-error
          *ngIf="contactFormModalDate.invalid && (contactFormModalDate.dirty || contactFormModalDate.touched)">
          Input invalid
        </mdb-error>
        <mdb-success
          *ngIf="contactFormModalDate.valid && (contactFormModalDate.dirty || contactFormModalDate.touched)">Input
          valid
        </mdb-success>
      </div>

      <div class="md-form mb-5">
        <mdb-icon fas icon="file-alt" class="prefix grey-text"></mdb-icon>
        .................Recorrido

        <input type="file" id="routeRace" class="form-control-file" mdbInput mdbValidate [formControl]="contactFormModalRoute">
        <mdb-error
          *ngIf="contactFormModalRoute.invalid && (contactFormModalRoute.dirty || contactFormModalRoute.touched)">
          Input invalid
        </mdb-error>
        <mdb-success
          *ngIf="contactFormModalRoute.valid && (contactFormModalRoute.dirty || contactFormModalRoute.touched)">
          Input valid
        </mdb-success>
      </div>

      <mdb-icon fas icon="bicycle" class="prefix grey-text "></mdb-icon>
      <div class="md-form mb-5">          
        <select class="browser-default custom-select col-sm-12" [formControl]="contactFormModalActivity">
            <option value="" disabled>Tipo de Actividad</option>
            <option value="1">Correr</option>
            <option value="2">Nadar</option>
            <option value="3">Ciclismo</option>
            <option value="4">Senderismo</option>
            <option value="5">Kayak</option>
            <option value="6">Caminata</option>
        </select>

        <mdb-error
          *ngIf="contactFormModalActivity.invalid && (contactFormModalActivity.dirty || contactFormModalActivity.touched)">Input
          invalid
        </mdb-error>
        <mdb-success
          *ngIf="contactFormModalActivity.valid && (contactFormModalActivity.dirty || contactFormModalActivity.touched)">Input
          valid
        </mdb-success>
    </div>

      <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
      <div class="md-form mb-5">
          <label>Privacidad</label>
          <select class="browser-default custom-select col-sm-12" [formControl]="contactFormModalPrivacy">
              <option value="" disabled>¿Es privado?</option>
              <option value="1" selected>Si</option>
              <option value="2">No</option>
          </select>

          <mdb-error
            *ngIf="contactFormModalPrivacy.invalid && (contactFormModalPrivacy.dirty || contactFormModalPrivacy.touched)">Input
            invalid
          </mdb-error>
          <mdb-success
            *ngIf="contactFormModalPrivacy.valid && (contactFormModalPrivacy.dirty || contactFormModalPrivacy.touched)">Input
            valid
          </mdb-success>
      </div>

        <div class="md-form mb-5">
          <mdb-icon fas icon="money-check-alt" class="prefix grey-text"></mdb-icon>
          <input type="text" id="form35" class="form-control" type="number" mdbInput mdbValidate [formControl]="contactFormModalBankAccount">
          <label for="form35">Cuenta Bancaria</label>
          <mdb-error
            *ngIf="contactFormModalBankAccount.invalid && (contactFormModalBankAccount.dirty || contactFormModalBankAccount.touched)">Input
            invalid
          </mdb-error>
          <mdb-success
            *ngIf="contactFormModalBankAccount.valid && (contactFormModalBankAccount.dirty || contactFormModalBankAccount.touched)">Input
            valid
          </mdb-success>
        </div>

        <mdb-icon fas icon="bars" class="prefix grey-text"></mdb-icon>
        <div class="md-form mb-5">
          <label>Categoria</label>
          <select class="browser-default custom-select col-sm-12" [formControl]="contactFormModalCategory">
              <option value="" disabled>Escoger una Categoria</option>
              <option value="1" selected>Junior</option>
              <option value="2">Sub-23</option>
              <option value="2">Elite,</option>
              <option value="2">Master A</option>
              <option value="2">Master B</option>
              <option value="2">Master C</option>
          </select>

          <mdb-error
            *ngIf="contactFormModalCategory.invalid && (contactFormModalCategory.dirty || contactFormModalCategory.touched)">Input
            invalid
          </mdb-error>
          <mdb-success
            *ngIf="contactFormModalCategory.valid && (contactFormModalCategory.dirty || contactFormModalCategory.touched)">Input
            valid
          </mdb-success>
        </div>

        <div class="md-form mb-5">
          <mdb-icon fas icon="list" class="prefix grey-text"></mdb-icon>
          <input type="text" id="form36" class="form-control" mdbInput mdbValidate [formControl]="contactFormModalSponsors">
          <label for="form36">Lista de Patrocinadores</label>
          <mdb-error
            *ngIf="contactFormModalSponsors.invalid && (contactFormModalSponsors.dirty || contactFormModalSponsors.touched)">Input
            invalid
          </mdb-error>
          <mdb-success
            *ngIf="contactFormModalSponsors.valid && (contactFormModalSponsors.dirty || contactFormModalSponsors.touched)">Input
            valid
          </mdb-success>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button mdbBtn color="unique" class="waves-light" mdbWavesEffect>Enviar
        <mdb-icon far icon="paper-plane" class="ml-1"></mdb-icon>
      </button>
    </div>
  </div>
</div>
</div>


<div mdbModal #basicModal="mdbModal" class="modal fade top" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-full-height modal-top" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close pull-top" aria-label="Close" (click)="basicModal.hide()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title w-100" id="myModalLabel">Lista de Inscripciones</h4>
    </div>
    <div class="modal-body">
      <ul class="list-group z-depth-0">
        <li class="list-group-item justify-content-between">
            Cras justo odio
            <button type="button" mdbBtn color="primary" class="relative waves-light float-right" mdbWavesEffect>Aceptar</button>
            <button type="button" mdbBtn color="danger" class="relative waves-light float-right" mdbWavesEffect>Rechazar</button>
        </li>
        <li class="list-group-item justify-content-between">
            Dapibus ac facilisis in
            <button type="button" mdbBtn color="primary" class="relative waves-light float-right" mdbWavesEffect>Aceptar</button>
            <button type="button" mdbBtn color="danger" class="relative waves-light float-right" mdbWavesEffect>Rechazar</button>
        </li>
        <li class="list-group-item justify-content-between">
            Morbi leo risus
            <button type="button" mdbBtn color="primary" class="relative waves-light float-right" mdbWavesEffect>Aceptar</button>
            <button type="button" mdbBtn color="danger" class="relative waves-light float-right" mdbWavesEffect>Rechazar</button>
        </li>
        <li class="list-group-item justify-content-between">
            Cras justo odio
            <button type="button" mdbBtn color="primary" class="relative waves-light float-right" mdbWavesEffect>Aceptar</button>
            <button type="button" mdbBtn color="danger" class="relative waves-light float-right" mdbWavesEffect>Rechazar</button>
        </li>
        <li class="list-group-item justify-content-between">
            Dapibus ac facilisis in
            <button type="button" mdbBtn color="primary" class="relative waves-light float-right" mdbWavesEffect>Aceptar</button>
            <button type="button" mdbBtn color="danger" class="relative waves-light float-right" mdbWavesEffect>Rechazar</button>
        </li>
        <li class="list-group-item justify-content-between">
            Morbi leo risus
            <button type="button" mdbBtn color="primary" class="relative waves-light float-right" mdbWavesEffect>Aceptar</button>
            <button type="button" mdbBtn color="danger" class="relative waves-light float-right" mdbWavesEffect>Rechazar</button>
        </li>
    </ul>
    </div>
    <div class="modal-footer">
      <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
      <button type="button" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save!</button>
    </div>
  </div>
</div>
</div>