<header>

  <div class="mask rgba-gradient">

    
      <!--Card image-->
      <div class="view view-cascade gradient-card-header blue-gradient narrower d-flex justify-content-between align-items-center">
    
        <div>
          <button mdbBtn color="white" outline="true" rounded="true" size="sm" type="button" class="px-2" mdbWavesEffect>
            <mdb-icon fas icon="th-large" class="mt-0"></mdb-icon>
          </button>
          <button mdbBtn color="white" outline="true" rounded="true" size="sm" type="button" class="px-2" mdbWavesEffect>
            <mdb-icon fas icon="columns" class="mt-0"></mdb-icon>
          </button>
        </div>
    
        <a href="lobby" class="white-text mx-3">Stravia TEC</a>
    
        <div>
          <button type="button" mdbBtn color="white" outline="true" rounded="true" size="sm" class="px-2" mdbWavesEffect>
            <mdb-icon fas icon="pencil-alt" class="mt-0"></mdb-icon>
          </button>
          <button type="button" mdbBtn color="white" outline="true" rounded="true" size="sm" class="px-2" mdbWavesEffect>
            <mdb-icon fas icon="times" class="mt-0"></mdb-icon>
          </button>
        
        </div>
    
      </div>
      <!--/Card image-->
    
      <div class=" mask rgba-gradient">
    
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
          <thead>
            <tr>
              <th class="white-text th-sm">Nombre</th>
              <th class="white-text th-sm">Administrador</th>
              <th class="white-text th-sm">Participantes</th>
              <th class="white-text th-sm">Acciones</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of groupsList">
              <td class="white-text">{{group.name}}</td>
              <td class="white-text">{{group.admin}}</td>
              <td class="white-text">{{group.number}}</td>
              <td><button class="btn aqua-gradient btn-rounded btn-sm my-0 " (click)="confirmationModal.show()"> Ingresar</button></td>
              
            </tr>
           
          </tbody>

        </table>
    
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" >1</a></li>
            <li class="page-item"><a class="page-link" >2</a></li>
            <li class="page-item"><a class="page-link" >3</a></li>
            <li class="page-item">
              <a class="page-link">Next</a>
            </li>
          </ul>
        </nav>
    
      </div>
    

  </div>
  
</header>

<div mdbModal #confirmationModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-side modal-top-right " role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title w-100" id="myModalLabel">Te has inscrito !</h4>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Close" (click)="confirmationModal.hide()" mdbWavesEffect>Thanks</button>
        
      </div>
    </div>
  </div>
</div>
