<header>
<div class="mask rgba-gradient">

  <mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar"
  >
  <mdb-navbar-brand>
    <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"
      ><strong>Stravia Tec</strong></a
    >
  </mdb-navbar-brand>
  </mdb-navbar>
  
  <div >
  <div class="card-deck-scrollable col-md-6 center">
    
    <!-- Card -->
    <div class="myborder">
      <mdb-card *ngFor="let challenge of listChallange; let i = index">
        <div class="view overlay waves-light" mdbWavesEffect>
          <!-- Card img -->
          <!---- MAPA QUE NO SIRVE XD
            <agm-map [latitude]="map.lat" [longitude]="map.lng" style="height: 300px">
                <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
            </agm-map>
            --->
          <mdb-card-img
            src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg"
            alt="Card image cap"
          ></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card content-->
        <mdb-card-body class="myborderdown">
          <!--Title-->
          <mdb-card-title>
            <h4>{{challenge.idEventoNavigation.nombre}}</h4>
          </mdb-card-title>
    
          <!--Text-->
          <mdb-card-text> {{challenge.descript}} </mdb-card-text>
    
          <a class="btn aqua-gradient btn-rounded btn-sm my-0 " mdbWavesEffect (click)="showChallengeInfo(i)">Información</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  
  
  </div>
  </div>
  
  <div
  mdbModal
  #frame="mdbModal"
  class="modal fade left"
  id="frameModalTop"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">
          Información
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="frame.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">

        <div class="row">
                    Nombre: {{infoNombre}}
              </div>

              <div class="row">
                    Fecha de inicio: {{infoFinicial}}
              </div>

              <div class="row">
                  Fecha de finalización: {{infoFfinal}}
              </div>

              <div class="row">
                  Kilometraje: {{infoKilometraje}}
              </div>

              <div class="row">
                  Elevación: {{infoElevacion}}
              </div>
<!--
<div class="row" *ngIf="infoPrivado == 1; else notval">
                Privado: Si
              </div>

              <ng-template #notval>
                Privado: No
              </ng-template>
-->
              

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="hideChallengeInfo()">
          Subscribirme
        </button>
      </div>
    </div>
  </div>
  </div>

</div>

</header>


<div mdbModal #confirmationModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-side modal-top-right " role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title w-100" id="myModalLabel">Te has inscrito !</h4>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="primary" class="waves-light" aria-label="Close" (click)="confirmationModal.hide()" mdbWavesEffect>Thanks</button>
        
      </div>
    </div>
  </div>
</div>