body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-fresh-crowd-running-advertising-background-backgroundfreshrunjuvenilework-outhand-paintedsimplesilhouette-image_80872.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}